:root{
    --cor_de_fundo: #d7d7d785;
    --rascunho: #eaeaea;
    --cor_do_rodape: #c12387;
    --cor_de_fundo_original: #fbb1e0;
    --cor_do_rodape_original: #FFCBEC;
}

.formulario{
    display: grid;
    place-items: center;
}

.titulo{
    background-color: var(--cor_do_rodape);
    width: 200px;
    position: absolute;
    border-radius: 15px;
    font-size: 20px;
    top: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 440px;
    width: 360px;
    border-radius: 15px;
    padding: 20px;
    margin-top: 35px;
    background-color: white;
    font-size: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.523);
}

form button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.primeiro{
    margin-top: 20px;
}

form label{
    font-size: 28px;
}

input{
    width: 320px;
    height: 30px;
    border: 1.5px solid pink;
    border-radius: 10px;
    padding: 0 0 0 3px;
}

label input{
    border-bottom: 5px;
}

.button{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

button{
    background-color: white;
    width: 150px;
    height: 30px;
    border: 1.5px solid pink;
    border-radius: 25px;
    margin-top: 10px;
}

@media screen and (max-width: 1024px){
    body{
        overflow-x: hidden;
    }

    .main{
        height: calc(100vh + 100px); 
    }

    .topo{
        position: relative;
        z-index: 1;
        /* margin-bottom: 960px; */
        
    }

}