:root{
    --cor_de_fundo: #d7d7d785;
    --rascunho: #eaeaea;
    --cor_do_rodape: #c12387;
    --nome_autores: #434343;
    --tipo_capa: #0993D8;
}

main{
    width: 100VW;
}

.alinha-carrinho{
    display: flex;
    flex-direction: column;
}

.coluna{
    display: flex;
    flex-direction: column;
    /* background-color: black; */
    width: 100%;
}

.produto{
    /* ? Section que determina o estilo de cada produto. */
    background-color: var(--cor_do_rodape);
    border-radius: 25px;
    height: 250px;
    padding: 5px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
}

.selecionar{
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.136); */
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.selecionar input{
    /* margin-right: 20px; */
    width: 20px;
    height: 20px;
}

.img{
    display: flex;
    flex-direction: start;
    justify-content: center;
    margin: 10px -20px 10px -20px;
    /* background-color: black; */
}

.img img{
    border-radius: 10px;
}

.informe{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 30px;
    /* background-color: #43434338; */
    width: 100%;
}

.lixeira{
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    padding-bottom: 15px;

}

.lixeira img{
    width: 30px;
    height: 30px;
}

.finalizar{
    /* ? Section onde fica o valor do carrinho, e o botão para finalizar a compra */
    /* background-color: rgba(0, 0, 0, 0.074); */
    /* width: 150px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin-top: 15px;
    margin-bottom: 20px;
    border-top: black 1px solid;
}


.todos{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin-bottom: 15px;
    /* background-color: rgba(0, 0, 0, 0.226); */
}

.todos, input{
    margin-right: 10px;
}

.position{
    margin-top: 10px;
    /* background-color: #434343; */
}

button{
    /* ? Butão de confirmação de compra */
    background-color: white;
    width: 150px;
    height: 30px;
    border: 1.5px solid pink;
    border-radius: 25px;
}

@media screen and (max-width: 1024px){
    body{
        overflow-x: hidden;
    }

    main{
        height: calc(100vh + 100px);
    }

    table{
        /* background-color: black; */
        width: 100vw;
        padding: 0 5px 0 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* ?Estilizando a carra de pesquisa do carrinho */
    .pesquisa{
        /* ? Section que vai onde fica o input e a imagem da lupa */
        padding: 5px;
        border-radius: 25px;
        width: 220px;
        height: 50px;
        margin-left: 10;
        margin-right: 0;
    }
    
    .pes{
        /* ? Estilo do input */
        width: 100px;
    }
    /* ? Estilo do carrinho */
    .carrinho{
        /* background-color: rgba(0, 0, 0, 0.123); */
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        margin: 5px;
    }
    
    /* ? Estilo do nome do site */
    .logo-texto, h3{
        font-size: 12pt;
    }    

    .topo{
        position: relative;
        z-index: 1;
        margin-bottom: 750px;
    }

    .produto{
        width: 380px;
    }

    .selecionar{
        height: 30px;
        width: 30px;
        position: absolute;
        margin: 10px;
        
    }

    .selecionar input{
        /* margin-right: 20px; */
        width: 30px;
        height: 30px;
        border: 1px solid black;
    }

    .img{
        margin: 10px 0 10px 0;
        /* background-color: black; */
    }
    
    .img img{
        border-radius: 10px;
        margin-left: 10px;
        width: 160px;
        height: 100%;
    }

    .informe{
        display: flex;
        flex-direction: column;
        align-items: start;
        text-align: start;
        margin-top: 10px;
        margin-left: 5px;
        width: 100%;
    }
}