:root{
    /* ? As variaveis das cores. */
    --cor_de_fundo: #d7d7d785;
    --rascunho: #eaeaea;
    --cor_do_rodape: #c12387;
}

/* ? Como a section que carrega o formulario vai ser comportar */
.formulario{
    display: grid;
    place-items: center;
}

/* ? Section que mostrara para o cliente se ele fazendo o login ou se cadastrando no site novamente. */
.titulo{
    background-color: var(--cor_do_rodape);
    width: 200px;
    position: absolute;
    border-radius: 15px;
    font-size: 20px;
    top: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

/* ? Como o fomrulario em se irá se comportar. */
form{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 360px;
    border-radius: 15px;
    padding: 20px;
    margin-top: 35px;
    background-color: white;
    font-size: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.523);
}

/* ? Como o botão dentro do formulário irá se comportar e onde ele ficará posicionado. */
form button{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ? Determina o quanto de margin-top a primeira label terá do inicio da section. */
.primeiro{
    margin-top: 20px;
}

/* ? O tamanho da fonte das label do formulario */
form label{
    font-size: 28px;
}

/* ? Tamnho, altura, estilização da borda dos todos os input */
input{
    width: 320px;
    height: 30px;
    border: 1.5px solid pink;
    border-radius: 10px;
    padding: 0px 0 0 3px;
}

/* ? O quanto os input e label serão separados entre si. */
label input{
    gap: 5px;
}


/* ? Posição do redefinir senha. */
.redefinir{
    margin-top: 0;
    margin-left: -10px;
}

/* ? Estilização do link que irá direcionar o usuário para a tela de redefinir senha. */
.redefinir a{
    padding: 0;
    font-size: 14px;
    margin-left: 20px;
    text-decoration: none;
    color: var(--cor_do_rodape);
}

/* ? Irá deixar o link com um underline assim que o cursos do mouse subrepor o link. */
.redefinir a:hover{
    text-decoration: underline;
}

/* ? Determina o tamanho da section onde um botão está armazenado, e como ela irá dispor os elementos dentro dela. */
.button{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px;
}

/* ? Determina a cor, tamnho e borda do do botão. */
button{
    background-color: white;
    width: 150px;
    height: 30px;
    border: 1.5px solid pink;
    border-radius: 25px;
}

/* ? Deixando tudo responsivo. */
@media screen and (max-width: 1024px){
    .redefinir{
        font-size: 10px;
    }
}