:root{
    /* ? Variaveis com as imagem do site (a palheta de cor ainda será votada!) */
    --cor_do_fundo: #c12387;
    --cor_de_fundo0: #d7d7d785;
    --rascunho: #eaeaea;
    --cor_do_rodape: #c12387;
    --cor_do_footer: #c12387b2;
    --nome_autores: #6D6A6A;
    --tipo_capa: #0993D8;
}

/* ? Estilização geral do body, faz com que por padrão, tudo o que esteja dentro do body tinha margin: 0; */
body{
    margin: 0;
}

/* ? Estilização da main, Aqui determina que a main para toda a vw e toda a vh, tudo que estiver dentro dela irá respeitar o paddin de 15px, então nada fica na borda do main.  */
main{
    width: 100vw;
    height:100vh;  /*! teste para saber o que tá dando rolagem*/
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ? Estilização que determina como a section livros vai se comportar e como os elementos seram divididos, determina o tamnho, altura, o quão aredondado a borda vai ser, cor de fundo e etc. */
.livros{
    width: 400px;
    height: 450px;
    border-radius: 24px;
    background-color: rgba(101, 100, 100, 0.199);
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 15px 25px 15px 25px;
}


/* ? Determina como a fileira de produtos vai dispor os elementos. */
.Fileira{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* ? Centreliza os elementos dentro da section .sentralizar */
.sentralizar{
    display: flex;
    align-items: center;
    justify-content: center;


}

/* ? Determina como a section que ira armazenar a imagem do livro, deve ser comportar e sua altura. */
.img-livro {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

/* ? Determina o tamanho e altura da imagem e o background, para caso a imagem não sejá carregada tenha um quadrado preto e não um espaço vazio. */
.img-livro img{
    height: 300px;
    width: 200px;
    background-color: black ;
}

/* ? Determina como as sections abaixo iram se comportar e como irá destribuir seus elementos. */
.descricao, .valores, .parcelamento{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

/* ? Modificando o tamanho da fonte dentro das sections a seguir. */
.autores, .Tcapa, .parcelamento{
    font-size: 11px;
}

/* ? modificanod a cor que os nomes dos autores e do parcelamento é apresentado. */
.autores, .parcelamento{
    color: var(--nome_autores);
}

/* ? Cor que o tipo da capa será apresentado. */
.Tcapa{
    color: var(--tipo_capa);
}

/* ? Determinado a autura da .valores */
.valores{
    height: 30px;
}

/* ? Deixando a section .desconto em linha, para que todos os elementos fiquem um do lado do outro. */
.desconto{
    display: flex;
    flex-direction: row ;
    
}

/* ? Determinando o tamanho da font das sections abaixo. */
.por, .vreal{
    font-size: 11px;
}

/* ? O tamanho que a moeda é apresentado. */
.moeda{
    font-size: 24px;
}

/* ? Tamanho da fonte e margin do .vcdesconto. */
.vcdesconto{
    font-size: 24px;
    margin-left: 2.5px;
}

/* ? Como o footer vai ser apresentar e como ele vai se comportar. */
footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    /* height: 100%; */
    color: black;
    background-color: var(--cor_do_footer);
    margin-top: 25%;
    align-items: center;
}

/* ? Como as section onde está armazenado os creditos de todos que colaborarão. */
#desenvolvedor, #designer, #documentação{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    margin-top: 1.5rem;
    color: black;
    /* height: 100%; */
    /* background-color: blue; */
}

/* ? Como a ul que armazena os dados dos colaboradores estão armazenado e como ela irá colaborar. */
#desenvolvedor, #designer, #documentação, ul{
    color: black;
    list-style: none;
    margin-top: 0;
    margin-left: 10px;
    margin-bottom: 0;
    padding-left: 0;
    font-size: 20pt;
    height: 100%;
    width: 100%;
    /* background-color: #6d6a6a3a; */
}

/* ? Deixa o nome dos colaboradores maior que os demais textos */
#desenvolvedor, #designer, #documentação, ul, .nome{
    font-size: 10pt;
}

/* ? Modificando como os links são apresentados. */
#desenvolvedor, #designer, #documentação, li, a{
    gap: 1;
    font-size: 8pt;
    padding: 5px;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* ? Tornando essa tela responsiva. */
@media screen and (max-width: 1024px){
    body{
        overflow-x: hidden;
    }

    main{
        height: calc(100vh + 100px);
    }

    .topo{
        position: relative;
        z-index: 1;
        margin-bottom: 960px;
        
    }

    .logo-texto, h3{
        font-size: 12pt;
    }  

    .logo-img{
        display: none;
    }

    .pesquisa{
        /* ? Section que vai onde fica o input e a imagem da lupa */
        padding: 5px;
        border-radius: 25px;
        width: 220px;
        height: 50px;
        margin-left: 10;
        margin-right: 0;
    }

    .Fileira{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        width: 100vw;
        padding: 0;
        /* background-color: black; */
    }

    .livros{
        min-width: 350px;
        margin:0 20px 10px 20px;
        padding: 15px 15px 15px 15px;
        /* background-color: black; */
    }

    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer{
        margin-top: 920px;
    }

    #desenvolvedor, #designer, #documentação, ul, .nome{
        font-size: 8pt;
    }
    
    #desenvolvedor, #designer, #documentação, li, a{
        gap: 1;
        font-size: 5pt;
        padding: 5px;
        color: black;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}