/* ? Variaveis de cor para o site. */
:root{
    --cor_de_fundo: #d7d7d785;
    --rascunho: #eaeaea;
    --cor_do_rodape: #c12387;
    --nome_autores: #6D6A6A;
    --tipo_capa: #0993D8;
}

/* ? Define onde firaca a disponibilidade do produto. */
.disponibilidade{
    display: flex;
    justify-content: end;
    width: 100%;
}

/* ? Define o tamnho, cor e como os elementos dentro da section iram se comportar. */
.produto{
    background-color: var(--cor_do_rodape);
    margin: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 20px;
}

/* ? Define o quanto arredondado será a borda da foto do produto. */
.produto img{
    border-radius: 5px;
    width: 200px;
    height: 300px;
}

/* ? Vai definir como os elementos dos informes vai se comportar e se alinhas dentro da section. */
.informes{
    display: flex;
    flex-direction: row;
}

/* ? Define o tamanho da section onde ficara a sinopse e como o texto vai estar justificado. */
.sonopse{
    width: 500px;
    text-align: justify;
    margin-left: 10px;
}

/* ? Estilização do tamnanho da borda do hr */
.sonopse hr{
    margin: 10px 0px 10px 0px;
}

/* ? Cor e tamanho da fonte dos nomes dos outores. */
.autores{
    color: white;
    font-size: 14px;
}

/* ? Estilização da section do botão, tamanho, como os elementos se portão dentro dele, e quanto de paddin tem entre a borda e os elementos internos */
.button{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: center;
    justify-content: end;
    /* background-color: black; */
    padding: 10px;
    
}

/* ? Quanto de margin o p dentro do botão tem */
.button p{
    margin-right: 20px;
}

/* ? Estilização do botão, cor, tamanho, altura, bordar, etc... */
button{
    background-color: rgb(227, 207, 207);
    width: 160px;
    height: 30px;
    border: 1px solid black;
    box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.758);
    border-radius: 25px;
}

@media screen and (max-width: 1024px){
    body{
        overflow-x: hidden;
    }

    main{
        height: calc(100vh + 100px);
    }

    /* ?Estilizando a carra de pesquisa do carrinho */
    .pesquisa{
        /* ? Section que vai onde fica o input e a imagem da lupa */
        padding: 5px;
        border-radius: 25px;
        width: 220px;
        height: 50px;
        margin-left: 10;
        margin-right: 0;
    }
    
    .pes{
        /* ? Estilo do input */
        width: 100px;
    }
    /* ? Estilo do carrinho */
    .carrinho{
        /* background-color: rgba(0, 0, 0, 0.123); */
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        margin: 5px;
    }
    
    /* ? Estilo do nome do site */
    .logo-texto, h3{
        font-size: 12pt;
    }    

    /* ? Muda a posição do topo */
    .topo{
        position: relative;
        z-index: 1;
    }

    /* ? Define a forma que a disponibilidade do produto irá se comportar quando o site estiver responsivo. */
    .disponibilidade{
        display: flex;
        justify-content: start;
        width: 100%;
        margin-bottom: 10px;
    }

    /* ? Define como as section a seguir iram se comportar e deixam os itens dispostos.*/
    .produto, .informes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    /* ? Define o quanto aredondaodo e distante a imagem está dos outros enementos */
    .produto img{
        border-radius: 10px;
        margin-left: 10px;
    }

    /* ? Define o tamnho e como o informe irá se comportar. */
    .informe{
        display: flex;
        flex-direction: column;
        align-items: start;
        text-align: start;
        margin-top: 10px;
        margin-left: 5px;
        width: 100%;
    }

    /* ? Define o tamanho da section. */
    .sonopse{
        width: 100%;
    }

    /* ? Deixando os intens no centro. */
    .button{
        align-items: center;
    }
}