:root{
    --cor_de_fundo: #d7d7d785;
    --rascunho: #eaeaea;
    --cor_do_rodape: #c12387;
    --nome_autores: #6D6A6A;
    --tipo_capa: #0993D8;
}

main{
    /* width: 100vw; */
    height: 100px;
    /* padding: 10px; */
}

.disponibilidade{
    display: flex;
    justify-content: end;
    width: 100%;
}

.produto{
    width: 100%;
    /* height: 100%; */
    background-color: var(--cor_do_rodape);
    margin: 10px;
    /* border-radius: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 15px;
}

.produto img{
    border-radius: 5px;
    width: 200px;
    height: 300px;
}

.informes{
    display: flex;
    flex-direction: row;
}

.sonopse{
    width: 500px;
    text-align: justify;
    margin-left: 10px;
}

.sonopse hr{
    margin: 10px 0px 10px 0px;
}


.autores{
    color: white;
    font-size: 14px;
}

.button{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: center;
    justify-content: end;
    /* background-color: black; */
    padding: 10px;
}

.button p{
    margin-right: 20px;
}

button{
    background-color: rgba(189, 171, 171, 0.626);
    width: 160px;
    height: 30px;
    border: 1px solid black;
    box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.758);
    border-radius: 25px;
}

@media screen and (max-width: 1024px){
    body{
        overflow-x: hidden;
    }

    main{
        height: calc(100vh + 100px);
    }

    /* ?Estilizando a carra de pesquisa do carrinho */
    .pesquisa{
        /* ? Section que vai onde fica o input e a imagem da lupa */
        padding: 5px;
        border-radius: 25px;
        width: 220px;
        height: 50px;
        margin-left: 10;
        margin-right: 0;
    }
    
    .pes{
        /* ? Estilo do input */
        width: 100px;
    }
    /* ? Estilo do carrinho */
    .carrinho{
        /* background-color: rgba(0, 0, 0, 0.123); */
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        margin: 5px;
    }
    
    /* ? Estilo do nome do site */
    .logo-texto, h3{
        font-size: 12pt;
    }    

    .topo{
        position: relative;
        z-index: 1;
    }

    .disponibilidade{
        display: flex;
        justify-content: start;
        width: 100%;
        margin-bottom: 10px;
    }

    .produto, .informes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .produto img{
        border-radius: 10px;
        margin-left: 10px;
    }

    .informe{
        display: flex;
        flex-direction: column;
        align-items: start;
        text-align: start;
        margin-top: 10px;
        margin-left: 5px;
        width: 100%;
    }

    .sonopse{
        width: 100%;
    }

    .button{
        align-items: center;
    }
}