:root{
    --cor_de_fundo: #d7d7d785;
    --rascunho: #eaeaea;
    --cor_do_rodape: #c12387;
    --nome_autores: #6D6A6A;
    --tipo_capa: #0993D8;
}

.disponibilidade{
    display: flex;
    justify-content: end;
    width: 100%;
}

.produto{
    /* width: 1810px; */
    width: 99%;
    /* height: 100%; */
    background-color: var(--cor_do_rodape);
    margin: .625rem;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 20px;
}

.produto img{
    border-radius: .3125rem;
    width: 12.5rem;
    height: 18.75rem;
}

.informes{
    display: flex;
    flex-direction: row;
}

.sonopse{
    width: 31.25rem;
    text-align: justify;
    margin-left: .625rem;
}

.sonopse hr{
    margin: .625rem 0rem .625rem 0rem;
}


.autores{
    color: white;
    font-size: .875rem;
}

.button{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: center;
    justify-content: end;
    /* background-color: black; */
    padding: .625rem;
}

.button p{
    margin-right: 1.25rem;
}

button{
    background-color: rgba(189, 171, 171, 0.626);
    width: 10rem;
    height: 1.875rem;
    border: .0625rem solid black;
    box-shadow: .3125rem .3125rem .9375rem rgba(255, 255, 255, 0.758);
    border-radius: 1.5625rem;
}

@media screen and (max-width: 64rem){
    body{
        overflow-x: hidden;
    }

    main{
        height: calc(100vh + 6.25rem);
    }

    /* ?Estilizando a carra de pesquisa do carrinho */
    .pesquisa{
        /* ? Section que vai onde fica o input e a imagem da lupa */
        padding: .3125rem;
        border-radius: 1.5625rem;
        width: 13.75rem;
        height: 3.125rem;
        margin-left: 10;
        margin-right: 0;
    }
    
    .pes{
        /* ? Estilo do input */
        width: 6.25rem;
    }
    /* ? Estilo do carrinho */
    .carrinho{
        /* background-color: rgba(0, 0, 0, 0.123); */
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3.125rem;
        height: 3.125rem;
        margin: .3125rem;
    }
    
    /* ? Estilo do nome do site */
    .logo-texto, h3{
        font-size: 12pt;
    }    

    .topo{
        position: relative;
        z-index: 1;
    }

    .disponibilidade{
        display: flex;
        justify-content: start;
        width: 100%;
        margin-bottom: .625rem;
    }

    .produto, .informes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .produto img{
        border-radius: .625rem;
        margin-left: .625rem;
    }

    .informe{
        display: flex;
        flex-direction: column;
        align-items: start;
        text-align: start;
        margin-top: .625rem;
        margin-left: .3125rem;
        width: 100%;
    }

    .sonopse{
        width: 100%;
    }

    .button{
        align-items: center;
    }
}