/* ? Todas as paginas deste site devem receber um link desse arquivo CSS, nele estão contidas estilos indispnesaveis, possiveis autoreações podem ser feitas com outros arquivos */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    /* ? Variaveis com as imagem do site (a palheta de cor ainda será votada!) */
    --cor_de_fundo: #d7d7d755;
    --rascunho: #eaeaea;
    --cor_do_rodape: #c12387;
    --cor_de_fundo_original: #fbb1e0;
    --cor_do_rodape_original: #FFCBEC;
}

*{
    /* ? Estilos gerais do site */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar{
    /* ? Estilo do trilho da barra de rolagem */
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb{
    /* ? Estilo da barra de rolagem */
    widows: 5px;
    height: 2px;
    border-radius: 30px;
    background-color: pink;
}

/* ? Estilos gerais do body */
body{
    /* ? Estilo geral do body */
    background-color: var(--cor_de_fundo);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden; /* ? Usado para bloquear a rolagem lateral do body */
}


/* ? Estilos do topo */
.topo{
    /* ? Estilo geral do topo */
    width: 100vw;
    height: 60px;
    background-color: var(--cor_do_rodape);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;

}

/* ? Irá estilizar a logo em todas as páginas */
.logo-img img{
    /* ? tamanho da imagem da logo */
    width: 40px;
    height: 40px;
}

.logo-texto{
    /* ? tamanho da fonte */
    font-size: 24px;
    width: 500px;
}

.logo-e-titulo {
    /* ? deixando tudo um do lado do outro */
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0;  
    /* background-color: rgba(0, 0, 0, 0.171); */
}

.logo-e-titulo img {
    /* ? Irá determinar a margin a direita da imagem */
    margin-right: 20px;  
}

/* ? Estilisação do menu */
.menu li{
    /* ? Irá estilizar a lista onde fica o menu */
    display: inline-block;
    margin-left: 20px;
    
}

.menu li a{
    /* ? Dará o estilo aos links do menu */
    text-decoration: none;
    color: #0000007d;
    font-size: 14px;
    padding: 10px 15px; /*? para deixar a area de contato maior*/
}

.menu li a:hover{
    /* ? Assim que o mouse ficar em cima dos links, ele trocara a sua cor. */
    color: #000;
}

/* ? Estilo do botão do menu */
.btn{
    border: solid 1px black;
    background-color: transparent;
    border-radius: 2px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: none;
    /* margin-left: 50px; */
}

.linha{
    /* ? Irá dar o tamanho das linhas que ficaram dentro do botão para o menu mobile */
    display: block;
    margin: 5px auto;
    flex-direction: column;
    background-color: black;
    width: 30px;
    height: 2.5px;
    position: relative;
    transform-origin: center; /* ? Esse piga o ponto ancora do elemento e centraliza ele.*/
    border-radius: 10px;
    transition: 0.2s;
}

/* ? Animação puchada do JavaScript */
.btn.ativar .linha:nth-child(1){
    /* ? quando a classe "ativar" existir junto com .btn, a primeira linha irá subir 7 no eixo y e ira rotacionar -45deg */
    transform: translateY(7px) rotate(-45deg);
}

.btn.ativar .linha:nth-child(2){
    /* ? quando a classe "ativar" existir junto com .btn, terceira linha irá desaparecer*/
    background-color: transparent;
}

.btn.ativar .linha:nth-child(3){
    /* ? quando a classe "ativar" existir junto com .btn, a terceira linha irá decer -7 no eixo y e ira rotacionar 45deg */
    transform: translateY(-7px) rotate(45deg);
}

/* ? Mennu mobile */
.menu-mobile{
    /* ? Dará o estilo do menu mobile assim que o botão for clicado */
    background-color: #0000008c;
    backdrop-filter: blur(10px); /* ? deixa com um efeito de vidro*/
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 0;
    visibility: hidden;
    transition: 0.5s;
    overflow: hidden;
}


.menu-mobile nav, li, a{
    /* ? Estilo dos links do menu mobile */
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px 15px;
    font-size: 16pt;

}

.menu-mobile li:hover{
    /* ? Assim que o usuário clicar na li ela irá mudar a cor do fundo. */
    background-color: rgba(0, 0, 0, 0.47);

}

/* ? Estilização do main */
main{
    /* ? Deixa tudo o que estiver dentro do main no centro da tela. */
    text-align: center;
    align-items: center;
    /* background-color: var(--cor_de_fundo); */
}

main .apresentacao{
    /* ? Muda o tamanho da fonte da apresentação do site e o quanto de margin ele terá no seu topo. */
    font-size: 45px;
    margin-top: 25px ;
}

main .apresentacao2{
    /* ? Modifica o tamanho da fonte do texto que estigara o usuário a ler sobre o que é nosso site. */
    font-size: 30px;
}

main .infor{
    /* ? Determina como a section que carrega as informações sobre o nosso site irá se comportar */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-top: 25px;
}

.infor2, .infor3{
    /* ? Determinara o tamanho, cor, tamanho da fonte, etc.*/
    width: 450px;
    background-color: var(--cor_do_rodape);
    font-size: 25px;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    justify-content: space-around;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.523);
    padding: 8px;
    margin-bottom: 25px;
}

.texto{
    font-size: 20px;
}

@media screen and (max-width: 1024px){
    /* ! Cabeçalho */
    ::-webkit-scrollbar{
        /* ? Estilo do trilho da barra de rolagem */
        width: 5px;
        height: 5px;
    }
    
    ::-webkit-scrollbar-thumb{
        /* ? Estilo da barra de rolagem */
        widows: 5px;
        height: 2px;
        border-radius: 30px;
        background-color: pink;
    }

    .topo{
        /* ? Estilo geral do topo */
        width: 100vw;
        height: 60px;
        background-color: var(--cor_do_rodape);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
    
    }

    .logo-e-titulo {
        /* ? deixando tudo um do lado do outro */
        display: flex;
        align-items: center;
        flex-direction: row;
        margin: 0;  
        width: 400px;
        /* background-color: rgba(0, 0, 0, 0.13); */
    }
    
    .logo-texto{
        /* ? tamanho da fonte */
        font-size: 20px;
        width: 100%;
    }
    
    .menu{
        display: none;
    }

    main .apresentacao{
        font-size: 24px;
        margin-top: 25px ;
    }
    
    main .apresentacao2{
        font-size: 20px;
    }
 
    /* ! Responsividade da apresetação. */
    main .infor{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 25px;
    }

    .infor2, .infor3{
        width: 350px;
        /* height: 500px; */
        background-color: var(--cor_do_rodape);
        font-size: 14px;
        text-align: center;
        align-items: center;
        border-radius: 20px;
        justify-content: space-around;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.523);
        padding: 8px;
        margin-bottom: 25px;
    }

    .menu-mobile.aparecerrr{
        visibility: visible;
        height: calc(100vh - 60px);
    }
   

    .btn{
        display: block;
    }

    .titulo.sumir{
        display: none;
        overflow: hidden;
    }
}